body {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(180deg, #78C0E0, #449DD1, #3943B7);
  height: 100vh;
}

main {
  padding: 0 36px;
}

.track {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.track li {
  background: green;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 2px dashed #fff;
  position: relative;
  width: calc(100% - 50px);
}

.track li:last-child {
  border-bottom: none;
}

.track li span:first-child {
  display: flex;
  align-items: center;
  position: absolute;
  left: -24px;
  height: 80px;
}

.length {
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 50px);
}

.length-value {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 32px;
  padding: 0 10px;
}

.frog {
  transform: rotate(90deg);
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: relative;
  left: 0;
  transition: left ease-out 300ms, transform 2s;
}

.podiums {
  display: flex;
  margin: 10vh auto;
  height: 30vh;
  width: 60vw;
}

.podium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.podium-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.frog-name {
  font-size: 18px;
  position: absolute;
  bottom: 5px;
}

#frog-name-1 {
  font-size: 50px;
}

#frog-name-2 {
  font-size: 30px;
}

.frog-seat {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55px;
}

.first-place, .second-place, .third-place {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100%;
  border-bottom: 5px solid #3a3633;
}

.first-place, .second-place {
  box-shadow: 5px -5px 10px 0px #3a3633;
}

.second-place, .third-place {
  border-radius: 2px;
}

.first-place {
  height: 80%;
  background-image: linear-gradient(180deg, gold, white);
}

.second-place {
  height: 50%;
  background-image: linear-gradient(160deg, silver, white 95%);
}

.third-place {
  height: 40%;
  background-image: linear-gradient(170deg, #CD7F32, white 95%);
  box-shadow: 4px -5px 10px 0px #3a3633;
}

.new-race-section {
  display: flex;
  justify-content: center;
}

.new-race {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 5px solid black;
  background-color: #3B7A57;
  border-radius: 4px;
  width: 400px;
  height: 70px;
  outline: none;
}
